{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">Login</h3>
                                {% if next %}
                                <p>Please login to see this page.</p>
                                {% endif %}
                                <form method="post" action="{% url 'html_templates:login' %}">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <input type="submit" value="Login" class="btn btn-primary"/>
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
