{% extends "base.html" %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h3>Username: {{ user.username }}</h3>
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <p class="mb-1 pt-2 text-bold">First name: {{ user.first_name }}</p>
                    <p class="mb-1 pt-2 text-bold">Last name: {{ user.last_name }}</p>
                    <p class="mb-1 pt-2 text-bold">Position: {{ user.position }}</p>
                    <p class="mb-1 pt-2 text-bold">Joined the team on: {{ user.date_joined }}</p>
                    <p class="mb-1 pt-2 text-bold">Last login on: {{ user.last_login }}</p>
                    <p class="mb-1 pt-2 text-bold">Is staff: {{ user.is_staff }}</p>
                    <br>
                    <div class="d-flex">
                    <a href="{% url 'html_templates:user-delete' pk=user.id %}" class="btn btn-danger link-to-page" style="margin-right: 10px;">Delete</a>
                    <a href="{% url 'html_templates:user-update' pk=user.id %}" class="btn btn-secondary link-to-page">Update</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                  {% if user.image %}
                    <img class="w-100 position-relative z-index-2 pt-4" src="{{ user.image.url }}">
                  {% else %}
                    <img class="w-100 position-relative z-index-2 pt-4">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          {% if user.leads.all %}
          <h5 class="font-weight-bolder">Leads assigned to {{ user.first_name }} {{ user.last_name }}:</h5>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0 table-hover">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deadline</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">lead type</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in user.leads.all %}
                <tr onclick="window.location='{% url 'html_templates:lead-detail' pk=lead.id %}'">
                <td>{{ lead.id }}</td>
                <td>{{ lead.name }}</td>
                <td>{{ lead.deadline | date:"d M Y" }}</td>
                <td>{{ lead.lead_type }}</td>
                <td>{{ lead.get_priority_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>There are no leads.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
