<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
       id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="{% url 'html_templates:index' %}">
            {% load static %}
            <img src="{% static 'assets/img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">Home</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if 'teams' in segment %} active {% endif %}" href="{% url 'html_templates:team-list' %}">
                    <i class="bi bi-people-fill"></i>
                    <span class="nav-link-text ms-1">Teams</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'leads' in segment %} active {% endif %}" href="{% url 'html_templates:lead-list' %}">
                    <i class="bi bi-person-lines-fill"></i>
                    <span class="nav-link-text ms-1">Leads</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'users' in segment %} active {% endif %}" href="{% url 'html_templates:user-list' %}">
                    <i class="bi bi-person-fill"></i>
                    <span class="nav-link-text ms-1">Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url 'html_templates:user-detail' pk=request.user.id %}">
                    <i class="bi bi-person-circle"></i>
                    <span class="nav-link-text ms-1">{{ request.user.get_username }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'logout' in segment %} active {% endif %}" href="{% url 'html_templates:logout' %}">
                    <i class="bi bi-door-open-fill"></i>
                    <span class="nav-link-text ms-1">Logout</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if 'login' in segment %} active {% endif %}" href="{% url 'html_templates:login' %}">
                    <i class="bi bi-door-closed-fill"></i>
                    <span class="nav-link-text ms-1">Login</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</aside>
